<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>edit</title>
  </head>
  <body>
    <h1>This is EDIT page</h1>
    <a href="{% url 'create' %}">GOTO HOME PAGE</a>
    <form method="post">
      {% csrf_token %}
      {{form}}
      <br><br>
      <input type="submit" action="/edit/{{form.stdid}}">

    </form>

  </body>
</html>
