<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>home</title>
  </head>
  <body>
    <h1>This is HOME page</h1>
    <form method="post" action="{% url 'create' %}">
      {% csrf_token %}
      {{form}}
      <br><br>
      <input type="submit" name="add">


    </form>



    <table border="1">
      <thead>
        <tr>
          <th>STDID</th>
          <th>NAME</th>
          <th>AGE</th>
          <th>OPERATIONS</th>
        </tr>
      </thead>
      <tbody>
      {% for s in student %}
          <tr>
            <td>{{ s.stdid }}</td>
            <td>{{ s.name }}</td>
            <td>{{ s.age }}</td>
            <td>
                <a href="/edit/{{ s.stdid }}">EDIT</a>
                <a href="/delete/{{ s.stdid }}">DELETE</a>
            </td>
          </tr>
      {% endfor %}
      </tbody>

    </table>



  </body>
</html>
